{% extends "core/base.html" %} {% block content %} {% load static %}
<div class="flex flex-col w-full h-full justify-start items-center">
  <p class="text-4xl text-customOrange font-bold mt-16">Edit Book</p>

  <form
    class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 p-4 lg:p-16"
    hx-put="/book/edit/{{book.id}}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-confirm="Are you sure you want to update this book?"
    hx-target="body"
  >
    <div class="mb-4">
      <label
        for="bookTitle"
        class="block mb-2 text-sm font-medium text-gray-600"
        >Book Title</label
      >
      <input
        type="text"
        id="bookTitle"
        name="bookTitle"
        class="w-full px-3 py-2 border rounded-md"
        value="{{book.title}}"
      />
    </div>
    <div class="mb-4">
      <label for="bookType" class="block mb-2 text-sm font-medium text-gray-600"
        >Book type</label
      >
      <select
        id="bookType"
        name="bookType"
        class="w-full px-3 py-2 border rounded-md"
      >
        {% for type in book_types %}
        <option value="{{ type.name }}" {% if type.name == book.book_type.name %} selected {% endif %}>{{ type.name }}</option>
        {% endfor %}
        <option value="Others">Others</option>
      </select>
    </div>
    <div class="mb-4">
      <label
        for="authorName"
        class="block mb-2 text-sm font-medium text-gray-600"
        >Author name</label
      >
      <input
        type="text"
        id="authorName"
        name="authorName"
        class="w-full px-3 py-2 border rounded-md"
        value="{{book.author}}"
      />
    </div>
    <div class="mb-4">
      <span class="block mb-2 text-sm font-medium text-gray-600"
        >Categories</span
      >
      <div class="flex flex-wrap">
        {% for category in categories %}
        <label class="inline-flex items-center m-1">
          <input
            type="checkbox"
            name="categories"
            value="{{ category.name }}"
            class="w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
            {% if category.name in checked_categories %} checked {% endif %}
          />
          <span class="ml-2 text-sm text-gray-700">{{ category.name }}</span>
        </label>
        {% endfor %}
        <label class="inline-flex items-center m-1">
          <input
            type="checkbox"
            name="categories"
            value="Others"
            class="w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
          />
          <span class="ml-2 text-sm text-gray-700">Others</span>
        </label>
      </div>
    </div>

    <div class="mb-4">
      <label for="language" class="block mb-2 text-sm font-medium text-gray-600"
        >Language</label
      >
      <input
        type="text"
        id="language"
        name="language"
        class="w-full px-3 py-2 border rounded-md"
        value="{{book.language}}"
      />
    </div>
    <div class="mb-4">
      <label for="status" class="block mb-2 text-sm font-medium text-gray-600"
        >Status</label
      >
      <select
        id="status"
        name="status"
        class="w-full px-3 py-2 border rounded-md"
      >
        <option value="AVAILABLE" {% if book.status == "AVAILABLE" %} selected {% endif %}>Available</option>
        <option value="BORROWED" {% if book.status == "BORROWED" %} selected {% endif %}>Borrowed</option>
      </select>
    </div>
    <div class="mb-4">
      <label
        for="publishYear"
        class="block mb-2 text-sm font-medium text-gray-600"
        type="number"
        >Publish year</label
      >
      <input
        type="text"
        id="publishYear"
        name="publishYear"
        class="w-full px-3 py-2 border rounded-md"
        value="{{book.publish_year}}"
      />
    </div>
    <div class="mb-4">
      <label for="picture" class="block mb-2 text-sm font-medium text-gray-600"
        >Picture</label
      >
      <input type="file" id="picture" name="picture" accept="image/*" />
    </div>
    <div
      class="flex flex-col gap-4 md:flex-row md:justify-center md:col-span-2 md:gap-14"
    >
      <button
        type="reset"
        class="px-6 py-2 bg-white border-2 border-customOrange text-customOrange rounded-full"
      >
        Reset
      </button>
      <button
        type="submit"
        class="px-6 py-2 bg-customOrange text-white rounded-full"
      >
        Save
      </button>
    </div>
  </form>
</div>

{% endblock %}
