<!-- registration/register.html -->

{% extends "core/base.html" %} {% block content %}
<div class="min-h-screen flex justify-center px-4 mt-4">
  <div class="w-full xl:w-1/2">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post">
      {% csrf_token %}
      <div class="w-full flex justify-center text-2xl font-bold p-3">
        <p>Register</p>
      </div>

      <!-- Display Non-Field Errors -->
      {% if form.non_field_errors %}
      <div class="text-red-500 text-sm mb-2">
        {% for error in form.non_field_errors %} {{ error }} {% endfor %}
      </div>
      {% endif %}

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <!-- Username field -->
        <div class="col-span-1 sm:col-span-2">
          <label for="username" class="block text-sm font-medium text-gray-700"
            >Username</label
          >
          {{ form.username }} {% if form.username.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.username.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>

        <!-- Email field -->
        <div class="col-span-1 sm:col-span-2">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email address</label
          >
          {{ form.email }} {% if form.email.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.email.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>

        <!-- First name field -->
        <div class="col-span-1">
          <label
            for="first_name"
            class="block text-sm font-medium text-gray-700"
            >First name</label
          >
          {{ form.first_name }} {% if form.first_name.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.first_name.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>

        <!-- Last name field -->
        <div class="col-span-1">
          <label for="last_name" class="block text-sm font-medium text-gray-700"
            >Last name</label
          >
          {{ form.last_name }} {% if form.last_name.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.last_name.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>

        <!-- Password field -->
        <div class="col-span-1 sm:col-span-2">
          <label for="password1" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          {{ form.password1 }} {% if form.password1.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.password1.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>

        <!-- Confirm Password field -->
        <div class="col-span-1 sm:col-span-2">
          <label for="password2" class="block text-sm font-medium text-gray-700"
            >Confirm Password</label
          >
          {{ form.password2 }} {% if form.password2.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.password2.errors %} {{ error }} {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="mt-6">
        <button
          type="submit"
          class="w-full flex justify-center py-2 px-4 rounded-md shadow-sm text-sm font-medium text-white bg-primary hover:bg-secondary"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
