{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"
      integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["League Spartan"],
            },
            colors: {
              primary: "#026C80",
              secondary: "#8DB4AD",
              cream: "#ECAE7D",
              textprimary: "#064C72",
              customOrange: "#ED6335",
            },
            dropShadow: {
              custom: " 8px 8px 0px 0px rgba(236, 174, 125, 1.00)",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-white font-sans pb-64">
    <!-- Navbar -->
    <div class="bg-primary p-4 shadow-md h-16 fixed top-0 w-full z-10">
      <div class="mx-auto flex items-center justify-between">
        <a href="/" class="text-white flex gap-x-5">
          <img src="{% static 'core/logo.svg' %}" alt="Logo" />
          <p class="text-2xl">Listbrary</p>
        </a>

        <!-- Profile -->
        <a class="flex overflow-hidden" href="/profile">
          <img
            class="inline-block h-10 w-10 rounded-full"
            src="{% static 'core/profile_icon.jpeg' %}"
            alt="profile"
          />
        </a>
      </div>
    </div>

    <div class="flex h-full">
      <!-- Sidebar -->
      <div
        class="fixed top-16 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-secondary"
      >
        <div class="h-full overflow-y-auto">
          <ul class="space-y-2 pr-4 text-xl mt-8">
            <!-- Dashboard Link -->
            <li>
              <a
                href="/"
                class="flex items-center p-2 text-white hover:bg-primary pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
              >
                <img
                  src="{% static 'core/home.svg' %}"
                  alt="Dashboard"
                  class="w-5 h-5 mr-3"
                />
                <span>Main Page</span>
              </a>
            </li>
            <!-- Weekly Ranking Link -->
            <li>
              <a
                href="/weekly_ranking"
                class="flex items-center p-2 text-white hover:bg-primary pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
              >
                <img
                  src="{% static 'core/ranking.svg' %}"
                  alt="Ranking"
                  class="w-5 h-5 mr-3"
                />
                <span>Ranking</span>
              </a>
            </li>
            <!-- My List Link -->
            <li>
              <a
                href="/mylist"
                class="flex items-center p-2 text-white hover:bg-primary pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
              >
                <img
                  src="{% static 'core/logo.svg' %}"
                  alt="My List"
                  class="w-5 h-5 mr-3"
                />
                <span>My List</span>
              </a>
            </li>
            <!-- User Profile Link -->
            <li>
              <a
                href="/profile"
                class="flex items-center p-2 text-white hover:bg-primary pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
              >
                <img
                  src="{% static 'core/user.svg' %}"
                  alt="Profile"
                  class="w-5 h-5 mr-3"
                />
                <span>Profile</span>
              </a>
            </li>
            <!-- Add Book Link -->
            <li>
              <a
                href="/book/create/methods"
                class="flex items-center gap-x-2 xl:gap-x-4 bg-customOrange py-4 px-5 rounded-full justify-center hover:bg-customOrange/80 text-white mt-8"
              >
                <img
                  src="{% static 'core/plus.svg' %}"
                  alt="Add Book"
                  class="w-5 h-5 mr-3"
                />
                <span>Add Book</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        id="bottom-navbar"
        class="fixed inset-x-0 bottom-0 z-10 w-full sm:hidden transition-transform duration-300"
      >
        <div
          class="relative w-full h-24 grid grid-cols-2 gap-[5.5rem] text-white"
        >
          <div
            class="relative z-10 bg-customOrange grid grid-cols-2 place-items-center rounded-r-[2rem]"
          >
            <a href="/">
              <img src="{% static 'core/home.svg' %}" class="w-7" alt="home" />
            </a>
            <a href="/weekly_ranking">
              <img
                src="{% static 'core/ranking.svg' %}"
                class="w-7"
                alt="ranking"
              />
            </a>
          </div>
          <div
            class="relative z-10 bg-customOrange grid grid-cols-2 place-items-center rounded-l-[2rem]"
          >
            <a href="/mylist">
              <img src="{% static 'core/logo.svg' %}" class="w-7" alt="logo" />
            </a>
            <a href="/profile">
              <img src="{% static 'core/user.svg' %}" class="w-7" alt="user" />
            </a>
          </div>
          <a
            href="/book/create/methods"
            class="absolute -top-10 left-1/2 -translate-x-1/2 h-24 w-24 border-4 bg-primary rounded-full border-white flex justify-center items-center"
          >
            <img src="{% static 'core/plus.svg' %}" class="w-8" alt="plus" />
          </a>
          <div
            class="absolute z-[-1] bottom-0 left-1/2 -translate-x-1/2 w-1/2 h-[80%] bg-customOrange"
          ></div>
        </div>
      </div>

      <!-- Main Content -->
      {% if messages %} {% for message in messages %}

      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
        role="alert"
      >
        <strong class="font-bold">{{ message.tags }}</strong>
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
