{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"
      integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["League Spartan"],
            },
            colors: {
              primary: "#026C80",
              secondary: "#8DB4AD",
              cream: "#ECAE7D",
              textprimary: "#064C72",
              customOrange: "#ED6335",
            },
            dropShadow: {
              custom: " 8px 8px 0px 0px rgba(236, 174, 125, 1.00)",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-white font-sans h-full">
    <!-- Navbar -->
    <div class="bg-primary p-4 shadow-md">
      <div class="mx-auto flex items-center justify-between">
        <a href="/" class="text-white flex gap-x-5">
          <img src="{% static 'core/logo.svg' %}" alt="Logo" />
          <p class="text-2xl">Listbrary</p>
        </a>

        <!-- Profile -->
        <a class="flex overflow-hidden" href="/profile">
          <img
            class="inline-block h-10 w-10 rounded-full object-cover"
            src="{% static 'core/profile.jpeg' %}"
            alt="profile"
          />
        </a>
      </div>
    </div>

    <div class="flex h-full">
      <!-- Sidebar -->
      <div
        class="hidden md:bg-secondary md:pr-20 md:w-80 xl:w-96 md:pt-11 md:flex md:flex-col md:justify-between md:text-white md:h-full"
      >
        <div class="text-2xl text-white font-normal">
          <a
            href="/"
            class="pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
          >
            <div class="flex items-center gap-x-4">
              <img src="{% static 'core/home.svg' %}" alt="home" />
              <div>Main Page</div>
            </div>
          </a>
          <a
            href="/weekly_ranking"
            class="pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
          >
            <div class="flex items-center gap-x-4">
              <img src="{% static 'core/friends.svg' %}" alt="friends" />
              <div>Weekly Ranking</div>
            </div>
          </a>
          <a
            href="#"
            class="pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
          >
            <div class="flex items-center gap-x-4">
              <img src="{% static 'core/logo.svg' %}" alt="mylist" />
              <div>My List</div>
            </div>
          </a>
          <a
            href="#"
            class="pl-16 p-4 block hover:bg-primary hover:bg-opacity-30 hover:border-r-[15px] hover:border-primary"
          >
            <div class="flex items-center gap-x-4">
              <img src="{% static 'core/setting.svg' %}" alt="setting" />
              <div>Setting</div>
            </div>
          </a>
          <a href="/book/create" class="pl-16 p-4 block">
            <div
              class="flex items-center gap-x-2 xl:gap-x-4 bg-customOrange py-4 px-5 rounded-full justify-center hover:bg-customOrange/80"
            >
              <div>Add Book</div>
              <img src="{% static 'core/plus.svg' %}" alt="addbook" />
            </div>
          </a>
        </div>
      </div>

      <!-- Main Content -->
      {% if messages %} {% for message in messages %}

      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
        role="alert"
      >
        <strong class="font-bold">{{ message.tags }}</strong>
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
